@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300..700&family=Yesteryear&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e6c200;
}

/* Для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffd700 transparent;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #000000;
    -webkit-text-fill-color: #fffff0;
  }
}
